<header>
  <a
    routerLink=""
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{ exact: true }"
    >base-knowledge</a
  >
  <a routerLink="InputAndOutput" routerLinkActive="activeLink"
    >input-and-output</a
  >
  <a routerLink="Styles" routerLinkActive="activeLink">Styles</a>
  <a routerLink="Pipe" routerLinkActive="activeLink">Pipe</a>
  <a routerLink="Service" routerLinkActive="activeLink">Service</a>
  <a routerLink="Http" routerLinkActive="activeLink">Http</a>
  <a routerLink="Directive" routerLinkActive="activeLink">Directive</a>
  <a routerLink="Form" routerLinkActive="activeLink">Form</a>
  <a routerLink="LifecycleHooks" routerLinkActive="activeLink"
    >LifecycleHooks</a
  >
  <a routerLink="Decorator" routerLinkActive="activeLink">Decorator</a>
  <a routerLink="NgContentAndNgContainer" routerLinkActive="activeLink"
    >NgContentAndNgContainer</a
  >
  <a routerLink="DependencyInjection" routerLinkActive="activeLink"
    >DependencyInjection</a
  >
  <a routerLink="routing" routerLinkActive="activeLink">Routing</a>
</header>
<hr />
<router-outlet></router-outlet>
