:host {
  display: flex;
  width: 300px;
  height: 150px;
  border: 2px solid gray;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 40%;
  background: rgb(221, 227, 238);
}
